:root{
    --acinzetado:#E0E1DD;
    --azulado:#778DA9;
    --azul:#415A77;
    --azul-escuro:#1B263B;
    --preto:#0D1B2A;
}

*{
    margin: 0;
    padding: 1;
}

.cabecalho{
    background-color: var(--azul);
    display:flex;
    justify-content:start ;
}
.menu-item{
    
    padding: 5px;
    margin-top: 15px;
    color: var(--azulado);
    font-size: 25px;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 9%;
}

.principal{
    background-color: var(--preto);
    color: var(--azulado)
}
